@import url('style.css');

h1 {
    color: var(--secondary-color);
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: 900;
}

.login-form {
    border: var(--secondary-color) 2px solid;
    border-radius: 30px;
}

.login-input {
    background-color: var(--warning-color) !important;
    color: var(--light-color) !important;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--light-color);
    border: var(--secondary-color) 2px solid;
    border-radius: 30px;
    width: fit-content;
    font-weight: 900;
    padding: 5px 25px;
    transition: ease-in 0.2s;
}

.button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: ease-in 0.2s;
}
